flask
flask_sqlalchemy
werkzeug
torch 
torchvision 
torchaudio
transformers
absl-py>=1.0.0
astunparse>=1.6.0
flatbuffers>=2.0
gast<=0.4.0,>=0.2.1
google-pasta>=0.1.1
grpcio<2.0,>=1.24.3
h5py>=2.9.0
keras<2.12,>=2.11.0
libclang>=13.0.0
opt-einsum>=2.3.2
protobuf<3.20,>=3.9.2
tensorboard<2.12,>=2.11
tensorflow-estimator<2.12,>=2.11.0
tensorflow-io-gcs-filesystem>=0.23.1
termcolor>=1.1.0
wrapt>=1.11.0